html, body {
    height: 100% !important;
}
.custom-card {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .custom-input {
        background-color: #f1f1f1;
        border: none;
        border-radius: 5px;
        padding: 12px 20px;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .custom-select {
        background-color: #f1f1f1;
        border: none;
        border-radius: 5px;
        padding: 12px;
        width: 100%;
        margin-bottom: 15px;
    }

    .custom-button {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .custom-button:hover {
        background-color: #0056b3;
    }
    .action-buttons {
    right: 10px;
    bottom: 10px;
}
.icon-big{
    font-size: 1.5em;
}

.samll-text{
    font-size: 0.8em;
}

.row{
   --bs-gutter-x:0 !important;
   margin-right: 0 !important;
   margin-left: 0 !important;
}